S3_BUCKET=carles-data-lake
API_URL=https://api.coingecko.com/api/v3/coins/markets
CRYPTO_IDS=bitcoin,ethereum,solana,cardano

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=coingecko
POSTGRES_USER=postgres
POSTGRES_PASSWORD=